<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Admin</h1>
<form action="" method="post">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="description" placeholder="description">
    <input type="text" name="date_courses" placeholder="data_courses">
    <input type="text" name="price" placeholder="price">
    <input type="button" value="Добавить" onclick="addCourses(this.form) ">
</form>

</body>
</html>