<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Main</h1>
<form action="" method="post">
    <input type="email" name="mail">
    <input type="password" name="password">
    <input type="button" name="confirm" onclick="SignUp(this.form)" value="SignUp">
</form>
<form action="" method="post">
    <input type="email" name="mail_confirm">
    <input type="password" name="password_confirm">
    <input type="button" name="confirm" onclick="LogIn(this.form)" value="LogIn">
</form>
<a href="about">123</a>
<script src="../assets/js/test.js"></script>
</body>
</html>