<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
<header>
    <div class="header">
        <div class="logo_container">
            <div class="logo">
                <a href="/">DosLab</a>
            </div>
        </div>
        <div class="head_container">
            <div class="head">
                <a href="courses">Курсы</a>
                <a href="contact">Контакты</a>
                <a href="about">О Нас</a>
                <a href="lk">Личный кабинет</a>
            </div>
        </div>
    </div>
</header>
<?=$content?>
<footer>
    <div class="footer">
        <h1>Footer</h1>
    </div>
</footer>
<?=$scripts?>
</body>
</html>